{% extends 'home/site.html' %}
{% block site_content %}
    <body style="background-color:powderblue;">


    <div class="container">
        <h1>Hello, {{ user.username }}</h1>
        <img src="{{ user.image.url }}" alt="#"
                    style="width:500px">
        <form class="w-50 m-auto" method="post" style=" margin: 10%; padding: 5% 5%">
            {{ user_form }}
            {{ profile_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Edit</button>
            <a href="{% url 'change_password' %}">Change password</a>
        </form>
    </div>
{% endblock %}
