{% extends "motors/motorbikes.html" %}
{% load static %}
{% block motorbikes_content %}

<img src="{% static 'images/moto.png' %}" width="500" >
<div class="w3-row-padding">
   <div class="w3-col s12">
    <form class="w-50 m-auto" method="post" style=" margin: 20%; margin-top: 1em; padding: 0% 0%" action="{% url "bike add" %}" enctype="multipart/form-data">

        {{ form }}
        {% csrf_token %}

        <button type="submit" class="btn btn-primary" style=" margin: 25%; margin-top: 1em; padding: 0% 0%;">ADD BIKE</button>
    </form>
</div>

{% endblock %}