{% extends "motors/motorbikes.html" %}
{% load static %}
{% block motorbikes_content %}

    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
<img src="{% static 'images/moto.png' %}" width="500" >

<div class="w3-row-padding">
   <div class="w3-col s4">
    <form method="post" action="{% url "bike add" %}" enctype="multipart/form-data">

        {{ form }}
        {% csrf_token %}

        <button type="submit" class="btn btn-primary" style=" margin: 25%; margin-top: 1em; padding: 0% 0%;">ADD</button>
    </form>
</div>

{% endblock %}
