{% extends "scooters/scooters.html" %}
{% block scooter_content %}

<div class="w3-row-padding ">

        {% for scooter in scooters %}
            <div class="w3-quarter ">
                <h4>{{ scooter.brand }}<br>{{ scooter.model }}</h4>
                <div class="w3-auto">
                    <a href="{% url "scooter details" scooter.id %}"><img src="{{ scooter.image.url }}" alt="#"
                    style="max-width: 220px; max-height: 130px; width:auto"></a>
                </div>
                <h3>${{ scooter.price }}</h3>
            </div>
        {% endfor %}

    {% if request.user.is_staff %}
        <p><a href="{% url "scooter add" %}" class="btn btn-primary " style=" margin: 1%; margin-top: 1em; padding: 2% 2%;">ADD SCOOTER</a></p>
    {% endif %}

    </div>

{% include "home/footer.html" %}

{% endblock %}