{% extends "news/news.html" %}
{% block news_content %}
{% load static %}

<style>
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }
</style

    <form method="post" class="container">
        {% csrf_token %}
        <h1 style="color:white";>Are you sure you want to delete?</h1>
            <p style="color:white";>{{ allnews.subject }}</p>
            <li style="color:white";>{{ allnews.data }}</li>

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{ allnews.image.url }}" class="img-fluid" alt="" width="500" height="300">
          </div>
    <button type="submit" class="btn btn-primary" style=" margin: 25%; margin-top: 5em; padding: 0% 0%;">DELETE</button>
    </form>

{% endblock %}
