{% load static %}
<!DOCTYPE html>

<html lang="en">
<header class="w3-container w3-xlarge w3-blue w3-padding-32" >
        <h1 style="color: white; margin-left: 650px;">ABOUT</h1>
    </header>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">

{% include 'home/nav.html' %}

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

</head>
<body>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'JS/scripts.js' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">

<div class="row">
          <div class="image col-lg-6" style='background-image: url({% static 'images/electric.png' %});' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Welcome to Move Electric</h3>
            <p class="fst-italic">
                Move Electric brands include Autocar and What Car?/
                While those titles focus on cars, our brief is to cover all forms of electric mobility and transport.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Electric cars to e-motorbikes, e-scooters, e-bicycles.</li>
              <li><i class="ri-check-double-line"></i> While we focus primarily on the UK, we're keen to chart exciting developments in electric mobility</li>
              <li><i class="ri-check-double-line"></i> We're your essential guide to everything going on in the world of e-mobility</li>
            </ul>
            <p>
                Postal address: Move Electric Haymarket Media Group Ltd Bridge House 69 London Road Twickenham Middlesex TW1 3PS
            </p>
          </div>
        </div>

</header>
</body>

{% include 'home/footer.html' %}

</html>
</html>
