{% load static %}

<footer class="w3-padding-1 w3-light-black w3-small w3-center" id="footer">

    <div class="w3-row-padding">
            <h4></h4>
            <center>
            <h4></h4>
            <i>&copy; 2023 Electrical Drive. N.VIdenov - All rights reserved.</i>
            <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
            <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
            <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
            <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
            <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </div>
    </div>
</footer>

            <center>
            <h4></h4>
</div>