{% load static %}

<!DOCTYPE html>
<html>

<body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'JS/scripts.js' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">

{% include "home/nav.html" %}

<div class="w3-main" style="margin-left:250px">

    <header class="w3-container w3-xlarge w3-blue w3-padding-32">

<div class="slideshow-container">


<div class="mySlides fade">
  <img src="{% static 'images/slide1.jpg' %}" style="width:100%" {% include "home/footer.html" %}


<div class="mySlides fade">
  <img src="{% static 'images/slide2.jpg' %}" style="width:100%" {% include "home/footer.html" %}

<div class="mySlides fade">
  <img src="{% static 'images/slide3.jpg' %}" style="width:100%" {% include "home/footer.html" %}


</div>
</div>
<br>

<div style="text-align:center">
  <span class="#"></span>
  <span class="#"></span>
  <span class="#"></span>
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("#");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

</script>

    {% block news_content %}
    {% endblock %}


    </header>

    {% block site_content %}
    {% endblock %}


{#<footer class="w3-padding-1 w3-light-grey w3-small w3-center" id="footer">#}
{#    <div class="w3-row-padding" >#}

{#        <div class="w3-col s4">#}
{#            <h4></h4>#}
{#            <p>Questions? Go ahead.</p>#}
{#            <form action="{% url "send email" %}" method="POST" target="_blank">#}
{#                {% csrf_token %}#}
{#                <p><label>#}
{#                    <input class="w3-input w3-border" type="text" placeholder="Name" name="name" required>#}
{#                </label></p>#}
{#                <p><label>#}
{#                    <input class="w3-input w3-border" type="text" placeholder="Email" name="email" required>#}
{#                </label></p>#}
{#                <p><label>#}
{#                    <input class="w3-input w3-border" type="text" placeholder="Subject" name="subject" required>#}
{#                </label></p>#}
{#                <p><label>#}
{#                    <input class="w3-input w3-border" type="text" placeholder="Message" name="message" required>#}
{#                </label></p>#}
{#                <button type="submit" class="w3-button w3-block w3-black">Send</button>#}
{#            </form>#}
{#        </div>#}

{#        <div class="w3-col s4" style="max-width:1000px">#}
{#            <center>#}
{#            <h4></h4>#}
{#            <p><a href="#"    >About us</a></p>#}
{#            <p><a href="#">We're hiring</a></p>#}
{#            <p><a href="#">Support</a></p>#}
{#            <p><a href="#">Find store</a></p>#}
{#            <p><a href="#">Shipment</a></p>#}
{#            <p><a href="#">Payment</a></p>#}
{#            <p><a href="#">Gift card</a></p>#}
{#            <p><a href="#">Return</a></p>#}
{#            <p><a href="#">Help</a></p>#}
{#            </center>#}
{#        </div>#}
{#            <div class="w1-col s4" style="max-width:1000px">#}
{#            <center>#}
{#            <h4></h4>#}
{#            <p><a href="#"  >Help</a></p>#}
{##}
{#        <div class="w3-col s4 w3-justify">#}
{##}
{#            <h4>Contact</h4>#}
{#            <p><i class="fa fa-fw fa-map-marker"></i> Move Electric</p>#}
{#            <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>#}
{#            <p><i class="fa fa-fw fa-envelope"></i> ex@mail.com</p>#}
{#            <h4>We accept</h4>#}
{#            <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>#}
{#            <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>/#}
{#            <br>#}
{#            <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>#}
{#            <i class="fa fa-instagram w3-hover-opacity w3-large"></i>#}
{#            <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>#}
{#            <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>#}
{#            <i class="fa fa-twitter w3-hover-opacity w3-large"></i>#}
{#            <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}


{#    {% include "home/footer.html" %}#}
    </div>

</body>
</html>
